# String Functions
## Format function
#upper(),lower(),title(),capitalize()

In [1]:
name='nikhil'

In [2]:
'N' in name

False

In [3]:
'N'.lower() in name

True

In [4]:
print('abc'.upper()) # upper case
print('ABC'.lower()) #lower case
print('i am programmer'.title()) #title()
print('i am programmer'.capitalize()) #capitalize()

ABC
abc
I Am Programmer
I am programmer

In [9]:
#length function---> len()
print(len('i am programmer'))
print(len('a'))

15
1

# Index Function
#index() and find() will return index of the character which occured first into the string

In [10]:
#index() --> it shows error while not finding the character in between the range
var='i like python language'

In [12]:
var.index('a') #will return the index of the character which occured first into the string

15

In [13]:
var.index('a',4,18)

15

In [14]:
var.index('a',16,20)

19

In [15]:
#find() --> it gives the output -1 while not finding the character in between the range
var.find('n')

12

In [16]:
var.find('n',4,13)

12

In [18]:
var.find('n',13,18)

16

In [19]:
var.find('n',13,15)

-1

# white space / blank space / leading space treatment
#lstrip()
#rstrip()

In [36]:
var1='              python'
print(var1)
var1=var1.lstrip()
print(var1)

              python
python

In [37]:
var2='python            '
print(var2)
var2=var2.rstrip()
print(var2)

python
python

In [43]:
# replace()
st='Python language'
st.replace('P','p')

'python language'

In [44]:
st.replace('Python','java')

'java language'

In [59]:
# count()
l='I am Nikhil. I am coder and I love coding.'
print(l.count('am'))
print(l.count('a'))

2
3

In [60]:
l.count('I',1)

2

In [61]:
l.count('I',1,30)

2

In [62]:
l.count('I',1,80)

2

In [63]:
l.count('I',20,90)

1

# Search the word on the basis start and end character
# startswith()
# endswith()

In [64]:
l.startswith('I')

True

In [67]:
l.startswith('N')

False

In [68]:
l.endswith('r')

False

In [69]:
l.endswith('.')

True

In [70]:
#split()
l

'I am Nikhil. I am coder and I love coding.'

In [71]:
l.split() #either space or any special characters(@!@#$|) used for split

['I', 'am', 'Nikhil.', 'I', 'am', 'coder', 'and', 'I', 'love', 'coding.']

In [77]:
#Boolean Functions
name='PYTHON'
print(name.isupper())
print(name.islower())
print(name.isalpha())
print(name.isdigit())
print(name.isalnum())

True
False
True
False
True

In [81]:
name1='123'
print(name1.isdigit())
print(name1.isalnum())
print(name1.isalpha())

True
True
False

# Indexing and slicing

In [82]:
#Indexing
city=['Delhi','Lucknow','Agra','Varanasi']

In [83]:
city

['Delhi', 'Lucknow', 'Agra', 'Varanasi']

In [84]:
city[1]

'Lucknow'

In [85]:
city[0]

'Delhi'

In [86]:
#slicing
lst=[10,20,30,33,40,55,60,70,80,90]
lst

[10, 20, 30, 33, 40, 55, 60, 70, 80, 90]

In [87]:
lst[4:8]

[40, 55, 60, 70]

In [88]:
lst[1:]

[20, 30, 33, 40, 55, 60, 70, 80, 90]

In [89]:
lst[:7]

[10, 20, 30, 33, 40, 55, 60]

In [90]:
lst[::2]

[10, 30, 40, 60, 80]

In [91]:
lst[2:8:2]

[30, 40, 60]