In [6]:
age=24
year=2020
print('Hello! Nikhil',age)
print('Happy New Year',year)

Hello! Nikhil 24
Happy New Year 2020

In [7]:
age=24
print('your age is {}'.format(age))

your age is 24

In [24]:
'''
You are indian citizen living in noida and your age is 24
using .format() method
'''

'\nYou are indian citizen living in noida and your age is 24\nusing .format() method\n'

In [9]:
age=24
Citizen='Indian'
Location='Noida'
print('You are {} citizen living in {} and your age is {}'.format(Citizen,Location,age))

You are Indian citizen living in Noida and your age is 24

In [10]:
print('{} and {} = {}'.format(24,23,24+23))

24 and 23 = 47

In [19]:
age=input('Enter your age')

Enter your age24

In [23]:
print(type(age))
# to find the type of the class

<class 'str'>

In [21]:
len(age)
#To find the of the string

2

In [22]:
print('Nikhil age is',age)
#Concatenation method

Nikhil age is 24